<div class="profile-container">
  <div class="row">
  	<div class="col-xs-10 col-xs-offset-1 col-s-8 col-s-offset-2 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3 profile-image">
	  	<%= image_tag @studentprofile.image.url(:thumb), :class => 'profile-image' %>
	    <p class="profile-name"><span><%= @studentprofile.fname %><%= @studentprofile.lname %></span></p>
	</div><!--.profile-image-->
  </div><!--.row-->

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-s-8 col-s-offset-2 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3 profile-info">
	  <p><i class="fa fa-smile-o"></i><span>About:</span><%= @studentprofile.bio%></p>
	  <!-- <p> Phone: <%= @studentprofile.phone %> </p> -->
	  <p><i class="fa fa-graduation-cap"></i><span>University:</span><%= @studentprofile.university %></span></p>
	  <!-- <p> Zipcode: <%= @studentprofile.zipcode %></span></p> -->
    </div><!--.profile-info-->
  </div><!--.row-->

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-s-8 col-s-offset-2 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3 profile-info">
	  <p><i class="fa fa-language"></i><span>Primary language:</span><%= @studentprofile.planguage %></p>
	  <p><i class="fa fa-language"></i><span>Other language:</span><%= @studentprofile.slanguage %> </p>
    </div><!--.profile-info-->
  </div><!--.row-->

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-s-8 col-s-offset-2 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3 profile-info">
	  <p><i class="fa fa-fire"></i><span>Smoker:</span><%= @studentprofile.smoker %></p>
	  <p><i class="fa fa-medkit"></i><span>Allergies:</span><%= @studentprofile.allergies%></p>
	  <p><i class="fa fa-medkit"></i><span>Type of allergies:</span><%= @studentprofile.all_desc %></p>
	  <p><i class="fa fa-calendar"></i><span>Planing to stay</span></P> 
	  <p><span>From:</span><%= @studentprofile.startduration %><span>To:</span><%= @studentprofile.endduration %> </p>
    </div><!--profile-buttons -->
  </div><!--.row -->

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-s-8 col-s-offset-2 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3 profile-buttons">
      <div class="delete-btn">
	    <%= link_to 'Delete', delete_path(@familyprofile), method: :delete, data:{ deletable: true} %>
      </div>
      <div class="edit-btn">
  	    <%= link_to 'Edit', edit_path(@familyprofile) %>
      </div>       
    </div><!--profile-buttons -->
  </div><!--.row -->
</div><!--#profile-container-->

<%= link_to 'Edit', edit_path(@studentprofile) %>
<%= link_to 'Delete', delete_path(@studentprofile), method: :delete, data:{ deletable: true}, class: "delete-btttn" %>


