<%= image_tag @studentprofile.image.url(:medium) %>
<h1> Name: <%= @studentprofile.fname %>  <%= @studentprofile.lname %></h1>
<p> About Yourself: <%= @studentprofile.bio%> </p>
<p> Phone: <%= @studentprofile.phone %> </p>
<p> University: <%= @studentprofile.university %></p>
<p> Zipcode: <%= @studentprofile.zipcode %></p>
<p> Primary language: <%= @studentprofile.planguage %></p>
<p>	Other language: <%= @studentprofile.slanguage %> </p>
<p> Smoker: <%= @studentprofile.smoker %></p>
<p> Allergies: <%= @studentprofile.allergies%></p>
<p> Type of allergies: <%= @studentprofile.all_desc %></p>
<p> Need place to stay</P> 
<p> From: <%= @studentprofile.startduration %> To: <%= @studentprofile.endduration %> </p>


<%= link_to 'Edit', edit_path(@studentprofile) %>
<%= link_to 'Delete', delete_path(@studentprofile), method: :delete, data:{ deletable: true}, class: "delete-btttn" %>


