<!DOCTYPE html>
<html>
	<head>
	  <title>Intlguest</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
	</head>
	<body>
	  <header>
	  	<nav>
	  		<!-- <p id="nav-logo"> -->
	  			<%= link_to image_tag("/assets/icon.png"), root_path, :class =>"nav-logo" %>
	  		<!-- </p> -->
		  	<ul>
		      <% if flash[:notice] %>
		        <li class="notice"><%= notice %></li>
		      <% end %>
		      <% if flash[:alert] %>
		        <li class="alert"><%= alert %></li>
		      <% end %>
		      
		      <li class="nav-button change-border">Menu <i class="fa fa-chevron-circle-down"></i></li>
		      <li class="nav-button change-border"><%= link_to 'About', about_path, :class => "change-border__inner" %></li>

			    <% if student_signed_in? %>
			      <li class="nav-button change-border"><%= link_to 'Student Log out', destroy_student_session_path,  method: :delete, :class => "change-border__inner" %></li>
			     <% else %>
			      <li class="nav-button change-border"><%= link_to 'Student Sign up', new_student_registration_path, :class => "change-border__inner" %></li>
			      <li class="nav-button change-border"><%= link_to 'Student Login', student_session_path, :class => "change-border__inner" %></li>
		     	<% end %>

		     	<% if family_signed_in? %>
			      <li class="nav-button change-border"><%= link_to 'Family Log out', destroy_family_session_path,  method: :delete, :class => "change-border__inner" %></li>
			     <% else %>
			      <li class="nav-button change-border"><%= link_to 'Family Sign up', new_family_registration_path, :class => "change-border__inner" %></li>
			      <li class="nav-button change-border"class="button change-border"><%= link_to 'Family Login', family_session_path, :class => "change-border__inner" %></li>
		     	<% end %>
		    </ul>
		    <form>
			   	<input class="search-box" type="text" placeholder="Search..." required>
		      <i class="fa fa-search fa-lg"></i>
				</form>
	   	</nav>
  	</header>
  


	<%= yield %>

	</body>
</html>
