<!DOCTYPE html>
<html>
	<head>
	  <title>Intlguest</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  
	</head>
	<body>
	  <header>
	  	<nav>
	  		<!-- <p id="nav-logo"> -->
	  			<%= link_to image_tag("/assets/icon.png"), root_path, :class =>"nav-logo" %>
	  		<!-- </p> -->
		  	<ul>
		      <% if flash[:notice] %>
		        <li class="notice"><%= notice %></li>
		      <% end %>
		      <% if flash[:alert] %>
		        <li class="alert"><%= alert %></li>
		      <% end %>
		            
		     <!--  <li class="nav-button change-border" data-toggle="modal" data-target="#myModal">Open Modal</li> -->
		      <li class="nav-button change-border"><%= link_to 'About', about_path, :class => "change-border__inner" %></li>

			    <% if student_signed_in? %>
			      <li class="nav-button change-border" ><%= link_to 'Student Log out', destroy_student_session_path,  method: :delete, :class => "change-border__inner" %></li>
			     <% else %>
			      <li class="nav-button change-border" data-toggle="modal" data-target="#studentSignUpModal"><span class="change-border__inner">Student Sign up</span></li>
			      <li class="nav-button change-border" data-toggle="modal" data-target="#studentLogInModal"><span class="change-border__inner">Student Log in</span></li>
		     	<% end %>

		     	<% if family_signed_in? %>
			      <li class="nav-button change-border"><%= link_to 'Family Log out', destroy_family_session_path,  method: :delete, :class => "change-border__inner" %></li>
			     <% else %>
			      <li class="nav-button change-border" data-toggle="modal" data-target="#familySignUpModal"><span class="change-border__inner">Family Sign up</span></li>
			      <li class="nav-button change-border" data-toggle="modal" data-target="#familyLogInModal"class="button change-border"><span class="change-border__inner">Family Log in</span></li>
		     	<% end %>
		    </ul>
		    <form>
			   	<input class="search-box" type="text" placeholder="Search..." required>
		      <i class="fa fa-search fa-lg"></i>
				</form>
	   	</nav>
  	</header>


<!-- MODAL -->
 <div class="modal fade" id="studentSignUpModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Student Sign Up</h4>
        </div>
        <div class="modal-body">
         <p><%= render 'students/registrations/new' %></p>
        </div>
   <!--      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="studentLogInModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Student Log In</h4>
        </div>
        <div class="modal-body">
         <%= render 'students/sessions/new' %>
        </div>
    <!--     <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="familySignUpModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Family Sign up</h4>
        </div>
        <div class="modal-body">
         <%= render 'families/registrations/new' %>
        </div>
    <!--     <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="familyLogInModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Family Login</h4>
        </div>
        <div class="modal-body">
         <%= render 'families/sessions/new' %>
        </div>
     <!--    <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>

	<%= yield %>



	</body>
</html>
